footer {
  background-color: #161414;
  border: 2px solid blanchedalmond;
}

footer h2 {
  list-style-type: disc;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-style: normal;
  text-align-last: center;
  color: #aff1b2;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

footer p {
  text-align-last: right;
  color: blanchedalmond;
  font-size: 10px;
  padding-top: 2px;
  padding-right: 3px;
}

footer svg {
  margin-top: 8px;
  margin-left: 30%;
  color: #ffd89e;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* {
  margin: 0%;
  padding: 0%;
}

@-webkit-keyframes intermitente {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intermitente {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.bodyI {
  background-image: radial-gradient(#000085, #030214);
}

.bodyI header h1 {
  text-align-last: center;
  font-family: "Press Start 2P", cursive;
  font-weight: 300;
  font-size: 50px;
  color: #f5c529;
  letter-spacing: 3px;
  margin: 100px;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bodyI header h2 {
  text-align-last: center;
  font-family: "Press Start 2P", cursive;
  font-weight: 300;
  color: #f5c529;
  font-size: 30px;
  margin-bottom: 50px;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bodyI header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  list-style-type: none;
}

.bodyI header nav li:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.bodyI header nav a {
  font-family: "Press Start 2P", cursive;
  color: #c1c1db;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  border: 2.5px solid #9ce9c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#3aafaf));
  background-image: linear-gradient(blue, #3aafaf);
  text-decoration: none;
}

.bodyI main {
  background-color: #161414;
}

.bodyI main p {
  list-style-type: disc;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 200;
  text-align-last: center;
  color: #ffec83;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-bottom: 0%;
  border: 2px solid blanchedalmond;
  border-bottom: none;
}

body .headerC {
  background-image: radial-gradient(blue, black);
}

body .headerC nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .headerC nav li:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

body .headerC nav a {
  font-family: "Press Start 2P", cursive;
  color: #c1c1db;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  border: 2.5px solid #9ce9c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#3aafaf));
  background-image: linear-gradient(blue, #3aafaf);
  text-decoration: none;
}

body .main {
  margin: 0%;
  background-image: radial-gradient(#ee7488, #070202);
}

body .main tr td {
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-align-last: center;
}

body .main tr th {
  color: rgba(38, 7, 51, 0.76);
  font-size: x-large;
  font-weight: bolder;
  text-align-last: center;
  padding: 10px;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .main tr ol {
  padding-left: 25px;
}

.bodyC {
  background-image: radial-gradient(#ff5e79, black);
}

.bodyC header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyC header nav li:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.bodyC header nav a {
  font-family: "Press Start 2P", cursive;
  color: #c1c1db;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  border: 2.5px solid #9ce9c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#3aafaf));
  background-image: linear-gradient(blue, #3aafaf);
  text-decoration: none;
}

.bodyC main {
  background-color: transparent;
}

.bodyC main nav {
  margin: 30px;
}

.bodyC main nav form {
  text-align-last: center;
}

.bodyC main nav form fieldset {
  border: 2px solid wheat;
}

.bodyC main nav form fieldset legend {
  list-style-type: disc;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
  text-align-last: center;
  color: #eeeb55;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bodyC main nav form fieldset label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyC main nav form fieldset label input {
  background-color: transparent;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.bodyC main nav form fieldset select {
  background-color: transparent;
}

.bodyC main nav form fieldset h3 {
  list-style-type: disc;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
  text-align-last: center;
  color: #eeeb55;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bodyC main nav form fieldset div textarea {
  background-color: transparent;
}

* {
  margin: 0%;
  padding: 0%;
}

@keyframes intermitente {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.bodyP {
  background-image: radial-gradient(#e70cd5, rgba(12, 60, 165, 0.609));
}

.bodyP header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyP header nav li:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.bodyP header nav a {
  font-family: "Press Start 2P", cursive;
  color: #c1c1db;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  border: 2.5px solid #9ce9c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#3aafaf));
  background-image: linear-gradient(blue, #3aafaf);
  text-decoration: none;
}

.bodyP main {
  background-color: transparent;
}

.bodyP main h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align-last: center;
  color: cyan;
  margin: 20px;
  letter-spacing: 5px;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bodyP main section p {
  grid-area: esp1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  text-align-last: center;
  color: #9db3b0;
  letter-spacing: 5px;
}

.bodyP main section div img {
  height: 400px;
  width: 450px;
  border: 1px solid #bdbde6;
  margin-top: 1px;
  margin-bottom: 1px;
  -webkit-transition: 700ms;
  transition: 700ms;
}

.body {
  background-image: url(../multimedia/arcade5.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  border: 2px double #e6e659;
}

.body fieldset header h1 {
  text-align-last: center;
  font-family: "Press Start 2P", cursive;
  font-weight: 300;
  font-size: 50px;
  color: #f5c529;
  letter-spacing: 3px;
  margin: 100px;
  -webkit-animation-name: intermitente;
          animation-name: intermitente;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.body fieldset header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  list-style-type: none;
}

.body fieldset header nav li:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.body fieldset header nav a {
  font-family: "Press Start 2P", cursive;
  color: #c1c1db;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  border: 2.5px solid #9ce9c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#3aafaf));
  background-image: linear-gradient(blue, #3aafaf);
  text-decoration: none;
}

.body main {
  background-color: #161414;
}

.body main div img {
  border: 1px double blanchedalmond;
  width: 100%;
  height: 70%;
}
/*# sourceMappingURL=main.css.map */