body{
    background-image: radial-gradient(#21243D, black);
    .main{
        background-color: rgb(153, 114, 226);
        table{
            margin-bottom: 0px;
         tr{
             td{
                font-size: medium;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: bolder;
                text-align-last: center;
            }
              th{
                color: rgb(31, 10, 39);
                font-size: x-large;
                font-weight: bolder;
                text-align-last: center;
                padding: 0px;
               @include animation(intermitente,2s,infinite);
            }
             ol{
                padding-left: 25px;
            }
         }
        }
    }
}
