.bodyC{
   background-image: radial-gradient(#21243D, black);
    main{
        nav{
            margin: 30px;
            form{
                text-align-last: center;
                fieldset{
                    border: 2px solid wheat;
                    legend{
                        list-style-type: disc;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: lighter;
                        text-align-last: center;
                        color: rgb(238, 235, 85);
                        @include animation(intermitente,3.5s,infinite);
                    }
                    label{
                        input{
                            @include flex(column,space-around,center);
                            color: darkgrey;
                            background-color: transparent;
                            transition: 500ms;
                        }
                    }
                    select{
                        color: darkgrey;
                        background-color: transparent;
                    }
                    h3{
                        list-style-type: disc;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: lighter;
                        text-align-last: center;
                        color: rgb(238, 235, 85);
                        @include animation(intermitente,3.5s,infinite);
                    }
                    div{
                        textarea{
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
