.bodyI{   
    font-size: 100%;
    background-image: radial-gradient(#21243D, black);
    main{
        margin-top: 3%;
        div{
            img{
                height: 60%;
                width: 80%;
                border-radius: 4%;
                border: 1px solid whitesmoke;
            }
        }
        p{
            list-style-type: disc;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 200;
            text-align-last: center;
            color: rgb(255, 236, 131);
            @include animation(intermitente,5s,infinite);
            margin-left: 2rem;
            margin-bottom: 0%;
        }
    }   
}



