.bodyP{
    background-image: radial-gradient(#21243D, black);
    main{
        background-color: transparent;
        h1{ 
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 50px;
            font-weight: 600;
            text-align-last: center;
            color: #a3d2ca;
            margin: 20px; 
            letter-spacing: 5px;  
            @include animation(intermitente,2s,infinite);
        }
        section{
            p{
                grid-area: esp1;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 35px;
                text-align-last: center;
                color: rgb(157, 179, 176); 
                letter-spacing: 5px;
            }
            div{
                img{
                    height: 80%;
                    width: 90%;
                    border-radius: 3%;
                    border: 2px double rgb(189, 189, 230);
                    transition: 1s;
                }
            }
        }
        h2{
            list-style-type: disc;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 40px;
            font-style: normal;
            text-align-last: center;
            color: rgb(175, 241, 178);
            padding-top: 15px;
            padding-bottom: 15px;
            @include animation(intermitente,7s,infinite);
        }
    } 
}