footer{
    border: 2.5px dotted #a3d2ca;
    width: auto;
    ul{
        @include flex(row,space-around ,center);
        height: 150px;  
        list-style-type: none;   
        i{
            border-radius: 50%;
            text-align: center;
            align-items: center;
            font-size: 40px;
            color: #a3d2ca;
            @include animation(intermitente,2s,infinite);
        }
        i:hover{
            transform: scale(1.1,1.1);
        }
    }
    p{
        text-align-last: right;
        color: #a3d2ca;
        font-size: 10px;
        padding-right: 10px; 
    }
}