$backgroundFooter:rgb(22, 20, 20);
$borderFooter: 2px solid blanchedalmond;
footer{
    background-color: $backgroundFooter; 
    border: $borderFooter;
    h2{
        list-style-type: disc;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        font-style: normal;
        text-align-last: center;
        color: rgb(175, 241, 178);
        padding-top: 15px;
        padding-bottom: 15px;
        animation-name: intermitente;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }
    p{
        text-align-last: right;
        color: blanchedalmond;
        font-size: 10px;
        padding-top: 2px;
        padding-right: 3px; 
    }
    svg{
        margin-top: 8px;
        margin-left: 30%;
        color:  rgb(255, 216, 158);
        justify-content: space-around;
     }
}